/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; /* Align items vertically */
}

form {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #21a5cf;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

img {
    max-width: 40%;
    height: 40px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px;
    margin-bottom: 12px;
}

button:hover {
    background-color: #21a5cf;
    }

a {
    text-decoration: none;
    color: #2196F3;
}

a:hover {
    color: #0d47a1;
}

/* Center the "Go back to product list" button */
button.go-back {
    display: block;
}
