/* shoppingCart.css */

/* General styles */
.shoppingcartdisplay {
  width: 70%; /* Occupy 80% of the width */
  margin: 0 auto; /* Align in center of the screen */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}



/* Cart item styles */
.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartItem img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.cartItem .description {
  flex-grow: 1;
  margin-left: 10px;
}

.cartItem .unitPrice,
.cartItem .totalCost {
 padding-right: 20px;
}

.cartItem .quantitySelect {
 padding: 20px;
}

.cartItem .fa-trash-o {
  color: red;
  cursor: pointer;
  margin-left: 20px;
}

.cartItem .fa-trash-o:hover {
  color: darkred;
}

/* Submit form styles */
.submitForm {
  margin-top: 20px;
  text-align: center;
}

.submitForm button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.submitForm button:hover {
  background-color: #45a049;
}

/* Disabled button style */
button[type="submit"]:disabled {
  background-color: #ccc; /* Change background color */
  cursor: not-allowed;   /* Change cursor */
  opacity: 0.5;           /* Reduce opacity */
}