body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


h1 {
    color: #333;
}

p {
    color: #666;
}

#currentDateTime {
    font-size: 1.2em;
    color: #4CAF50;
    margin-top: 10px;
}